@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
@import url('https://cdn.jsdelivr.net/npm/ol@latest/ol.css');

html,
body {
  margin: 0;
  height: 100%;
  color: #4B0F26; /* Cor das fontes */
  font-weight: 500; /* Peso da fonte mais grosso */
  font-family: 'Roboto Condensed', sans-serif; /* Aplica a fonte Roboto Condensed */
}

.container {
  display: flex;
  justify-content: center; /* Alinha horizontalmente no centro */
  align-items: center;     /* Alinha verticalmente no centro */
  height: 100vh;           /* Usa 100% da altura da viewport */
}

.sugestao {
  border-radius: 10px;
  border: 5px solid pink; 
  width: 200px;
  height: 450px;
  margin-top: 5px;
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  position: relative; /* Permite o posicionamento absoluto do botão */
}

#map {
  border-radius: 10px;
  border: 5px solid pink; 
  width: 850px;
  height: 450px;
  margin-top: 5px;
}

.controls {
  position: absolute;
  top: 10px;
  left: 10px;
  background: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 5px;
  margin-top: 80px;
  color: #4B0F26; /* Cor das fontes */
  font-weight: 500; /* Peso da fonte mais grosso */
}

#coordinates {
  background: white;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #4B0F26; /* Cor das fontes */
  font-weight: 500; /* Peso da fonte mais grosso */
}

.search-bar {
  background: white;
  padding: 5px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin-top: 35px;
}

#search {
  border: 2px solid pink;
  border-radius: 20px; /* Arredonda os cantos do campo de pesquisa */
  padding: 5px 10px;
  font-size: 14px;
  outline: none;
  box-sizing: border-box; /* Garante que o padding não afete o tamanho total */
  margin-right: 10px; /* Espaço entre o campo de pesquisa e o botão */
  color: #4B0F26; /* Cor do texto dentro do campo de pesquisa */
  font-weight: 500; /* Peso da fonte mais grosso */
  font-family: 'Roboto Condensed', sans-serif; /* Aplica a fonte Roboto Condensed */
}

#search::placeholder {
  color: pink; /* Cor do texto do placeholder */
}

#search:focus {
  border-color: #ff69b4; /* Borda rosa ao focar no campo */
}

.search-button {
  background-color: pink;
  border: none;
  color: #4B0F26; /* Cor do texto do botão */
  border-radius: 20px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500; /* Peso da fonte mais grosso */
  font-family: 'Roboto Condensed', sans-serif; /* Aplica a fonte Roboto Condensed */
}

.search-button:hover {
  background-color: #ff69b4; /* Cor de fundo mais escura ao passar o mouse */
}

.save-button {
  background-color: pink;
  border: none;
  color: #4B0F26; /* Cor do texto do botão */
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500; /* Peso da fonte mais grosso */
  font-family: 'Roboto Condensed', sans-serif; /* Aplica a fonte Roboto Condensed */
  position: absolute;
  bottom: 20px; /* Ajusta o botão para estar na parte inferior da div */
  right: 20px; /* Ajusta o botão para estar na parte direita da div */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.save-button:hover {
  background-color: #ff69b4; /* Cor de fundo mais escura ao passar o mouse */
}

.card {
  background: white;
  padding: 10px;
  border-radius: 5px;
  margin-top: 5px;
  border: 1px solid pink;
  color: #4B0F26; /* Cor do texto do card */
  font-weight: 500; /* Peso da fonte mais grosso */
  font-family: 'Roboto Condensed', sans-serif; /* Aplica a fonte Roboto Condensed */
}
